* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";

}

body {
    background-color: rgb(30, 54, 81);

}

table {

    color: white;
    font-weight: 300;
    border-collapse: collapse;
    margin: 0 auto;
    position: relative;
    top: 100px;
}

th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255)1);
    height: 60px;
    text-align: center;
    width: 300px;
    font-size: 13px;
    line-height: 1.5;
    padding: 20px;
}



thead .blank-td {
    border: 0;
}

thead tr th {
    background-color: rgb(24, 47, 77);

}

h1 {
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: rgb(21, 50, 87);
    position: fixed;
    width: 100%;
    z-index: 1;
}

ul li {
    display: inline-block;
    color: rgb(203, 223, 250);
    padding: 20px;
    margin-left: 30px;
    font-size: 16px;
    font-family: "Helvetica";
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul li:active {

    color: rgb(39, 76, 117);

}
